@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Nanum+Pen+Script&display=swap");
body {
  background-color: #f4d03f !important;
  font-family: "Open Sans", sans-serif !important;
}

a {
  text-decoration: none !important;
  color: #fff !important;
}

.game-header {
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logout-btn {
  display: block;
  align-self: flex-start;
}

.container {
  width: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.center-container {
  height: 100vh;
}

.title {
  margin-bottom: 2rem;
  font-family: "Nanum Pen Script", cursive;
  font-size: 5.5rem;
}

.race-title {
  font-size: 2.8rem;
}

form {
  width: 30rem;
  border: 2px solid rgba(27, 38, 49, 0.76);
  border-radius: 0.3rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#indicator-placeholder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 8%;
}

.indicator-wrapper {
  font-family: "Nanum Pen Script", cursive;
  font-size: 2rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.race-progress {
  display: block;
  margin-left: 2rem;
}

.race-text-wrapper {
  width: 70%;
  margin: 1rem 0;
  padding: 0.8rem;
  min-height: 5rem;
  max-height: 30rem;
  overflow: auto;
  text-align: justify;
  background-color: #f2b5328e;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.race-textinput {
  width: 70%;
  font-size: 1.5rem;
  text-align: center;
}

.text-lable {
  font-family: "Nanum Pen Script", cursive;
  font-size: 1.5rem;
}

.commentor-wrapper {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.commentor-img {
  display: block;
  height: 10rem;
  transform: scale(-1, 1);
}

.commentor-text {
  overflow: hidden;
  padding: 2rem;
  max-height: 15rem;
  max-width: 20rem;
  text-align: center;
  font-size: 0.7rem;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
